/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/cookies.txt
/vendor
.env
.env.local
.env.backup
.env.local
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/Modules/Alquran/database/sources/qoris_zips/
/Modules/Alquran/database/sources/qoris/
/storage/app/public/quran.json